{{#>page}}

<h2>Results</h2>
<ol>
  <li><a href="/results">Result List</a></li>
  <li><a href="/results/brandon-starc">Result Details</a></li>
  <li><a href="/world-records/mhighjump">World Records</a></li>
  <li><a href="/results/new">Create Result</a></li>
</ol>

{{/page}}